@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");
* {
    font-family: "Dongle", sans-serif;
}


.modal{
    background-color: rgba(0, 0, 0, .1);
  transition: opacity .2s ease;
}